<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="demotest-consumer" owner="programmer" organization="dubbox"/>

    <!--向 zookeeper 订阅 provider 的地址，由 zookeeper 定时推送-->
    <dubbo:registry address="zookeeper://192.168.0.200:2181"/>

    <!--&lt;!&ndash;使用 dubbo 协议调用定义好的 api.PermissionService 接口&ndash;&gt;-->
    <!--<dubbo:reference id="demoService" interface="dubboApi.DemoService"/>-->

    <!--再配置文件中加上<dubbo:annotation>，它会扫描所有注册bean的java类，
    发现带”@Reference”标签的属性，它会去寻找发布的provider是否有匹配的接口，有就自动注入。-->
    <dubbo:annotation package="dubboApi"/>

    <dubbo:reference interface="dubboApi.DemoService" id="demoService" />

</beans>